@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
header {
  font-family: "Outfit", sans-serif;
  display: flex;
  width: 100%;
  padding: 0.6rem;
  height: fit-content;
  position: relative;
  background-color: #0056b3;
  justify-content: space-between;
  max-width: 100vw;
}
header .btn_cerrarHeader, header .btn_header {
  display: none;
}
header .Title {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 1.2;
  margin-left: 1rem;
  color: #ffffff;
  width: fit-content;
}
@media screen and (max-width: 500px) {
  header .Title {
    font-size: 1.8rem;
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  header .Title {
    font-size: 2rem;
    width: 70%;
  }
}
header .nav-bar {
  gap: 1rem;
  width: 70%;
  padding: 5px;
  max-width: 70%;
}
header .nav-bar ol {
  padding-left: 2rem;
}
@media screen and (max-width: 500px) {
  header .nav-bar ol {
    margin-top: 3vh;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  header .nav-bar ol {
    margin-top: 3vh;
    text-align: center;
  }
}
header .nav-bar .nav-list {
  gap: 1rem;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 500px) {
  header .nav-bar .nav-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    right: 0;
    justify-content: center;
    width: 50%;
    z-index: 1001;
    background-color: #34699A;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transition: visibility 0.3s ease, opacity 0.3s ease;
  }
}
@media screen and (max-width: 1024px) {
  header .nav-bar .nav-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: 1001;
    background-color: #34699A;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transition: visibility 0.3s ease, opacity 0.3s ease;
  }
}
header .nav-bar .nav-list a {
  font-size: 1.4rem;
  padding: 8px;
  color: #f5f5f5;
  background-color: rgba(128, 128, 128, 0.212);
  border-radius: 20px;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: background-color 0.2s ease;
}
@media screen and (max-width: 1024px) {
  header .nav-bar .nav-list a {
    padding: 8px 60px 8px 60px;
  }
}
@media screen and (max-width: 500px) {
  header .nav-bar .nav-list a {
    padding: 4px 20px 4px 20px;
  }
}
header .nav-bar .nav-list a:hover {
  background-color: #663399;
}
header .nav-bar .nav-list a:active {
  background-color: #733caa;
}
@media screen and (max-width: 1024px) {
  header {
    display: block;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  header .btn_header {
    display: block;
    position: absolute;
    margin: auto;
    top: 2vh;
    right: 5vw;
  }
  header .btn_cerrarHeader {
    display: block;
    margin: 30px 30px 0 0;
  }
  header .visible { /* Clases para mostrar/ocultar nav-bar (mobile) */
    visibility: visible;
    opacity: 1;
  }
  header .no-visible {
    visibility: hidden;
    opacity: 0;
  }
}
@media screen and (max-width: 500px) {
  header {
    display: block;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  header .btn_header {
    display: block;
    position: absolute;
    margin: auto;
    top: 2vh;
    right: 5vw;
  }
  header .btn_cerrarHeader {
    display: block;
    margin: 30px 30px 0 0;
  }
  header .visible { /* Clases para mostrar/ocultar nav-bar (mobile) */
    visibility: visible;
    opacity: 1;
  }
  header .no-visible {
    visibility: hidden;
    opacity: 0;
  }
}

footer {
  position: relative;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
  box-sizing: border-box;
  background-color: #FDF5AA;
  text-align: center;
}
footer p {
  font-family: "Outfit", sans-serif;
  font-size: 0.8rem;
  word-wrap: break-word;
  margin-bottom: 0;
}
footer p span {
  font-size: 0.2rem;
}
footer .scroll-up svg {
  width: 1.8rem;
  height: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/body_logo.jpg);
  background-size: 50px 50px;
  background-repeat: repeat;
  box-sizing: border-box;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* main: INDEX */
  /* main: FAMILIA */
  /* main:Objetivos */
  /* main:Contactos */
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
  font-weight: normal;
}
body .banner-index {
  align-items: center;
}
body .banner-index div img {
  width: 100vw;
}
@media screen and (max-width: 500px) {
  body .banner-index {
    display: none;
  }
}
body .introduccion-text {
  width: 100vw;
  text-align: center;
}
body .introduccion-text h3 {
  font-weight: bold;
  font-size: 3rem;
}
@media screen and (max-width: 500px) {
  body .introduccion-text {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  body .introduccion-text {
    width: 100%;
    max-width: 100%;
  }
}
body .iframe {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
body .iframe_section_principal {
  width: 45%;
  max-width: 45%;
  height: 40vh;
  flex-shrink: 1;
  min-width: 0;
  margin: auto;
}
body .iframe_section_principal .iframe_video_principal {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
@media screen and (max-width: 500px) {
  body .iframe_section_principal {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  body .iframe_section_principal {
    width: 100%;
    max-width: 100%;
  }
}
body .main_index { /* main: INDEX */
  max-width: 100vw;
  overflow: hidden;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
body .main_index .section_image_principal {
  width: 22%;
  max-width: 25%;
  flex-shrink: 1;
  min-width: 0;
  height: auto;
}
body .main_index .section_image_principal .imagen_principal_main {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
@media screen and (max-width: 500px) {
  body .main_index .section_image_principal {
    margin: auto;
    width: 80%;
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  body .main_index .section_image_principal {
    margin: auto;
    width: 80%;
    max-width: 100%;
  }
}
body .main_index .texto_principal_section {
  width: 35%;
  max-width: 35%;
  min-height: 40vh;
  max-height: 70vh;
  min-height: fit-content;
  max-height: fit-content;
  padding: 20px;
  flex-shrink: 1;
  min-width: 0;
  overflow-y: auto;
}
@media screen and (max-width: 500px) {
  body .main_index .texto_principal_section {
    width: 100%;
    background-color: rgba(0, 255, 255, 0.179);
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  body .main_index .texto_principal_section {
    width: 100%;
    background-color: rgba(0, 255, 255, 0.179);
    max-width: 100%;
  }
}
body .main_index .texto_principal_section h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  word-wrap: break-word;
}
body .main_index .texto_principal_section p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-wrap: break-word;
  height: 30vh;
}
@media screen and (max-width: 1024px) {
  body .main_index .texto_principal_section p {
    width: 100%;
    max-width: 100%;
    height: 20vh;
  }
}
@media screen and (max-width: 500px) {
  body .main_index {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
body .main_familia .grilla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}
@media screen and (max-width: 500px) {
  body .main_familia .grilla {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
body .main_familia .grilla section {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  font-family: "Outfit", sans-serif;
  text-align: start;
  align-items: center;
  text-shadow: 30px 11px 18px rgba(0, 0, 0, 0.194);
  font-weight: bold;
  font-size: 1.5rem;
}
@media screen and (max-width: 500px) {
  body .main_familia .grilla section {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  body .main_familia .grilla section {
    flex-wrap: wrap;
  }
}
body .main_familia .grilla .sectionFamilia1, body .main_familia .grilla .sectionFamilia2, body .main_familia .grilla .sectionFamilia3, body .main_familia .grilla .sectionFamilia4 {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
body .main_familia .grilla .imagen_section_familia1 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .main_familia .grilla .imagen_section_familia1 img {
  width: 90%;
  border: 0.65vw outset #ffffff;
  height: auto;
  transition: transform 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.48);
}
body .main_familia .grilla .imagen_section_familia1 :hover {
  transform: scale(105%);
}
body .main_familia .grilla .imagen_section_familia2 {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .main_familia .grilla .imagen_section_familia2 img {
  width: 65%;
  border: 0.65vw outset #ffffff;
  height: auto;
  transition: transform 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.48);
}
body .main_familia .grilla .imagen_section_familia2 :hover {
  transform: scale(105%);
}
body .main_familia .grilla .imagen_section_familia3 {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .main_familia .grilla .imagen_section_familia3 img {
  width: 65%;
  border: 0.65vw outset #ffffff;
  height: auto;
  transition: transform 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.48);
}
body .main_familia .grilla .imagen_section_familia3 :hover {
  transform: scale(105%);
}
body .main_familia .grilla .imagen_section_familia4 {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .main_familia .grilla .imagen_section_familia4 img {
  width: 60%;
  border: 0.65vw outset #ffffff;
  height: auto;
  transition: transform 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.48);
}
body .main_familia .grilla .imagen_section_familia4 :hover {
  transform: scale(105%);
}
@media screen and (max-width: 500px) {
  body .main_familia .grilla .imagen_section_familia1,
  body .main_familia .grilla .imagen_section_familia2,
  body .main_familia .grilla .imagen_section_familia3,
  body .main_familia .grilla .imagen_section_familia4 {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  body .main_familia .grilla {
    display: block;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
body .main_Objetivos {
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem 0 4rem;
  color: black;
  text-align: center;
}
@media screen and (max-width: 500px) {
  body .main_Objetivos {
    font-size: 1.4rem;
    padding: 2rem;
    gap: 2rem;
  }
}
body .main_Objetivos div .logos {
  display: inline-flex;
  bottom: 150px;
  gap: 20px;
}
body .main_Objetivos div .logos img {
  width: 50px;
}
body .main_Objetivos div .carousel-item {
  width: 10rem;
}
@media screen and (max-width: 500px) {
  body .main_Objetivos div .carousel-item {
    background-image: none;
    margin-top: 2rem;
  }
}
body .main_Objetivos .banner_objetivos {
  display: flex;
  width: 100vw;
  background-image: url(../images/objetivosImg.jpg);
  background-size: cover;
  justify-content: center;
  align-items: flex-end;
}
body .main_Objetivos .banner_objetivos h2 {
  width: fit-content;
  height: fit-content;
  font-size: 4rem;
  padding: 30px 160px 30px 160px;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.48);
  color: #FDF5AA;
}
@media screen and (max-width: 500px) {
  body .main_Objetivos .banner_objetivos h2 {
    background-color: #0056b3;
    color: #ffffff;
    padding: 5px;
  }
}
@media screen and (max-width: 500px) {
  body .main_Objetivos .banner_objetivos {
    background-image: none;
  }
}
body .main_Objetivos .flexbox_objetivos {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
body .main_Objetivos .flexbox_objetivos p {
  width: 60vw;
  margin: auto;
}
body .main_contacto {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
body .main_contacto .contacto {
  padding: 1rem 7rem 1rem 7rem;
  border-radius: 10px;
  background-color: #FDF5AA;
  width: 40%;
  height: fit-content;
  width: fit-content;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.48);
  margin: 40px;
}
body .main_contacto .contacto form {
  text-align: center;
}
body .main_contacto .contactame h2 {
  font-weight: bold;
}
body .main_contacto .contactame img {
  width: 200px;
}
@media screen and (max-width: 500px) {
  body .main_contacto .contactame img {
    width: 175px;
  }
}
@media screen and (max-width: 500px) {
  body .main_contacto .contactame {
    display: block;
  }
  body .main_contacto .contacto {
    padding: 1rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
